.app_logo {
  margin-bottom: 24px;
  width: 160px;
}

.app_logo * {
  fill: var(--color-text-on-primary);
}

.app_header {
  margin-bottom: 40px;
  padding: 40px;
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

.app_title {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  line-height: 1;
}

.app_header_inner,
.app_main {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
}

.app_main > div {
  margin: 0 4%;
  width: 42%;
  float: left;
}

.ul {
  padding: 0;
  list-style: none;
}
